
<div *ngIf="imageLike">
    <h2><span jhiTranslate="bmwsaApp.imageLike.detail.title">Image Like</span> {{imageLike.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bmwsaApp.imageLike.user">User</span></dt>
        <dd>
            {{imageLike.userId}}
        </dd>
        <dt><span jhiTranslate="bmwsaApp.imageLike.image">Image</span></dt>
        <dd>
            <div *ngIf="imageLike.imageId">
                <a [routerLink]="['/image', imageLike.imageId]">{{imageLike.imageId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'image-like/'+ imageLike.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
