<div class="row justify-content-around">
<div class="col-md-8">
    <h2>
        <span jhiTranslate="bmwsaApp.imageLike.home.title">Image Likes</span>
        <button class="btn btn-primary float-right jh-create-entity create-image-like" [routerLink]="['/', { outlets: { popup: ['image-like-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bmwsaApp.imageLike.home.createLabel">
            Create new Image Like
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="imageLikes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
           <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
            <th jhiSortBy="userId"><span jhiTranslate="bmwsaApp.imageLike.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imageId"><span jhiTranslate="bmwsaApp.imageLike.image">Image</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let imageLike of imageLikes ;trackBy: trackId">
               <!-- <td><a [routerLink]="['../image-like', imageLike.id ]">{{imageLike.id}}</a></td> -->
                <td>
                    {{imageLike.userId}}
                </td>
                <td>
                    <div *ngIf="imageLike.imageId">
                        <a [routerLink]="['../image', imageLike.imageId  ]" >{{imageLike.imageId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../image-like', imageLike.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'image-like/'+ imageLike.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'image-like/'+ imageLike.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="imageLikes && imageLikes.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
</div>
