<div class="row justify-content-around">
    <div class="col-md-8">
        <h2>
            <span jhiTranslate="bmwsaApp.image.home.title">Images</span>
            <button class="btn btn-primary float-right jh-create-entity create-image"
                    [routerLink]="['/', { outlets: { popup: ['image-new'] } }]">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="bmwsaApp.image.home.createLabel">
            Create new Image
            </span>
            </button>
        </h2>
        <jhi-alert></jhi-alert>
        <div class="row">
        </div>
        <br/>
        <div class="table-responsive" *ngIf="images">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                  <!--  <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span>
                    </th> -->
                    <th jhiSortBy="name"><span jhiTranslate="bmwsaApp.image.name">Name</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="description"><span jhiTranslate="bmwsaApp.image.description">Description</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="postedDate"><span jhiTranslate="bmwsaApp.image.postedDate">Posted Date</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="content"><span jhiTranslate="bmwsaApp.image.content">Content</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="views"><span jhiTranslate="bmwsaApp.image.views">Views</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="posterId"><span jhiTranslate="bmwsaApp.image.poster">Poster</span> <span
                        class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                       [infiniteScrollDistance]="0">
                <tr *ngFor="let image of images ;trackBy: trackId">
                    <!--<td><a [routerLink]="['../image', image.id ]">{{image.id}}</a></td>-->
                    <td><a [routerLink]="['../image', image.id ]">{{image.name}}</a></td>
                    <td>{{image.description}}</td>
                    <td>{{image.postedDate | date:'medium'}}</td>
                    <td>
                        <a *ngIf="image.content" (click)="openFile(image.contentContentType, image.content)">
                            <img [src]="'data:' + image.contentContentType + ';base64,' + image.content"
                                 style="max-height: 30px;" alt="image image"/>
                        </a>
                        <span *ngIf="image.content">{{image.contentContentType}}, {{byteSize(image.content)}}</span>
                    </td>
                    <td>{{image.views}}</td>
                    <td>
                        {{image.posterId}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../image', image.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'image/'+ image.id + '/edit'} }]"
                                    replaceUrl="true"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'image/'+ image.id + '/delete'} }]"
                                    replaceUrl="true"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
