<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myImageLabel" [hidden]="image.id" jhiTranslate="bmwsaApp.image.home.createLabel">Create or edit a Image</h4>
        <h4 class="modal-title" id="myEditImageLabel" [hidden]="!image.id" jhiTranslate="bmwsaApp.image.home.editLabel">Create or edit a Image</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!image.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="image.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bmwsaApp.image.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="image.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bmwsaApp.image.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="image.description" required maxlength="100" />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bmwsaApp.image.content" for="field_content">Content</label>
            <div>
                <img [src]="'data:' + image.contentContentType + ';base64,' + image.content" style="max-height: 100px;" *ngIf="image.content" alt="image image"/>
                <div *ngIf="image.content" class="form-text text-danger clearfix">
                    <span class="pull-left">{{image.contentContentType}}, {{byteSize(image.content)}}</span>
                    <button type="button" (click)="clearInputImage('content', 'contentContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_content" (change)="setFileData($event, image, 'content', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="content" id="field_content"
                   [(ngModel)]="image.content" required />
            <input type="hidden" class="form-control" name="contentContentType" id="field_contentContentType"
                   [(ngModel)]="image.contentContentType" />
            <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label jhiTranslate="bmwsaApp.image.tag" for="field_tag">Tag</label>
            <select class="form-control" id="field_tag" multiple name="tag" [(ngModel)]="image.tags">
                <option [ngValue]="getSelected(image.tags, tagOption)" *ngFor="let tagOption of tags; trackBy: trackTagById">{{tagOption.name}}</option>
            </select>
        </div>
        <!--
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bmwsaApp.image.postedDate" for="field_postedDate">Posted Date</label>
            <div class="d-flex">
                <input id="field_postedDate" type="datetime-local" class="form-control" name="postedDate" [(ngModel)]="image.postedDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bmwsaApp.image.views" for="field_views">Views</label>
            <input type="number" class="form-control" name="views" id="field_views"
                [(ngModel)]="image.views" min="0" />
            <div [hidden]="!(editForm.controls.views?.dirty && editForm.controls.views?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.views?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.views?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bmwsaApp.image.poster" for="field_poster">Poster</label>
            <select class="form-control" id="field_poster" name="poster" [(ngModel)]="image.posterId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        -->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
