<div class="row justify-content-around ">
    <div class="col-md-8" *ngIf="image">
        <h2><span jhiTranslate="bmwsaApp.image.detail.title">Image</span> {{image.name}}</h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="bmwsaApp.image.name">Name</span></dt>
            <dd>
                <span>{{image.name}}</span>
            </dd>
            <dt><span jhiTranslate="bmwsaApp.image.description">Description</span></dt>
            <dd>
                <span>{{image.description}}</span>
            </dd>
            <dt><span jhiTranslate="bmwsaApp.image.content">Content</span></dt>
            <dd>
                <div *ngIf="image.content">
                    <a (click)="openFile(image.contentContentType, image.content)">
                        <img [src]="'data:' + image.contentContentType + ';base64,' + image.content"
                             style="max-width: 100%;" alt="image image"/>
                    </a>
                    {{image.contentContentType}}, {{byteSize(image.content)}}
                </div>
            </dd>
            <dt><span jhiTranslate="bmwsaApp.image.tag">Tag</span></dt>
            <dd>
            <span *ngFor="let tag of image.tags; let last = last">
                <a [routerLink]="['/tag', tag?.id ]">{{tag.name}}</a>{{last ? '' : ', '}}
            </span>
            </dd>

            <dt><span jhiTranslate="bmwsaApp.image.postedDate">Posted Date</span></dt>
            <dd>
                <span>{{image.postedDate | date:'medium'}}</span>
            </dd>
            <!--
            <dt><span jhiTranslate="bmwsaApp.image.views">Views</span></dt>
            <dd>
                <span>{{image.views}}</span>
            </dd>
            -->
            <dt><span jhiTranslate="bmwsaApp.image.poster">Posted by</span></dt>
            <dd>
                {{image.posterName}}
            </dd>


        </dl>

        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'image/'+ image.id + '/edit'} }]"
                replaceUrl="true"
                class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </div>
</div>
