<!--<jhi-page-ribbon></jhi-page-ribbon> -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-push-4 col-md-8 ">
            <router-outlet name="navbar"></router-outlet>
        </div>
    </div>
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div>
