<div class="row justify-content-around">
    <div class="col-md-8">
        <div *ngIf="tag">
            <h2><span jhiTranslate="bmwsaApp.tag.detail.title">Tag</span> {{tag.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bmwsaApp.tag.name">Name</span></dt>
                <dd>
                    <span>{{tag.name}}</span>
                </dd>
                <dt><span jhiTranslate="bmwsaApp.tag.color">Color</span></dt>
                <dd>
                    <span>{{tag.color}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/', { outlets: { popup: 'tag/'+ tag.id + '/edit'} }]"
                    replaceUrl="true"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
