<div class="row justify-content-around">
    <div class="col-md-8">
        <h2>
            <span jhiTranslate="bmwsaApp.tag.home.title">Tags</span>
            <button class="btn btn-primary float-right jh-create-entity create-tag"
                    [routerLink]="['/', { outlets: { popup: ['tag-new'] } }]">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="bmwsaApp.tag.home.createLabel">
            Create new Tag
            </span>
            </button>
        </h2>
        <jhi-alert></jhi-alert>
        <div class="row">
        </div>
        <br/>
        <div class="table-responsive" *ngIf="tags">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                   <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span>
                    </th> -->
                    <th jhiSortBy="name"><span jhiTranslate="bmwsaApp.tag.name">Name</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="color"><span jhiTranslate="bmwsaApp.tag.color">Color</span> <span
                        class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tag of tags ;trackBy: trackId">
                    <!--<td><a [routerLink]="['../tag', tag.id ]">{{tag.id}}</a></td>-->
                    <td><a [routerLink]="['../tag', tag.id ]">{{tag.name}}</a></td>
                    <td>{{tag.color}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../tag', tag.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'tag/'+ tag.id + '/edit'} }]"
                                    replaceUrl="true"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'tag/'+ tag.id + '/delete'} }]"
                                    replaceUrl="true"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="tags && tags.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                                (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
