<div class="row justify-content-center">

    <div class="col-md-push-4 col-md-8 ">
        <div [ngSwitch]="isAuthenticated()">

            <div class="alert alert-success alert-dismissible justify-content-around" role="alert" *ngSwitchCase="true">
                <span type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </span>
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>
            <!--
            <ngb-alert [dismissible]="true"  *ngIf="account">
                                <span jhiTranslate="home.logged.message"   translateValues="{username: '{{account.login}}'}">
                                    No points yet this week, better get moving!</span>
            </ngb-alert>
            -->
            <div class="jumbotron" *ngSwitchCase="false">
                <h1 class="display-3">SnapZA</h1>
                <p class="lead">A simple image sharing application built with Java , Angular 4 and running Amazon
                    Web Services.</p>
                <p>
                    <a class="btn btn-sm btn-success"  role="button" routerLink="register">
                        <i class="fa fa-user-plus" aria-hidden="true">
                        <span jhiTranslate="global.messages.info.register.link">Sign up today</span></a>

                    <a href="" (click)="login(); false" class="btn btn-sm btn-primary">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.account.login">Sign In</span></a>
                </p>

            </div>
            <br/>
            <div *ngSwitchCase="true">
                <div class="table-responsive" *ngIf="images">
                    <table class="table table-sm table-striped">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                            <!--  <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span>
                              </th> -->
                            <th jhiSortBy="name"><span jhiTranslate="bmwsaApp.image.name">Name</span> <span
                                class="fa fa-sort"></span></th>
                            <!-- <th jhiSortBy="description"><span
                                 jhiTranslate="bmwsaApp.image.description">Description</span>
                                 <span
                                     class="fa fa-sort"></span></th>-->
                            <th jhiSortBy="postedDate"><span jhiTranslate="bmwsaApp.image.postedDate">Posted Date</span>
                                <span
                                    class="fa fa-sort"></span></th>
                            <th jhiSortBy="content"><span jhiTranslate="bmwsaApp.image.content">Content</span> <span
                                class="fa fa-sort"></span></th>
                            <!--  <th jhiSortBy="views"><span jhiTranslate="bmwsaApp.image.views">Views</span> <span
                                  class="fa fa-sort"></span></th>-->
                            <th><span jhiTranslate="bmwsaApp.image.tag">Tags</span></th>
                            <!--  <th jhiSortBy="posterId"><span jhiTranslate="bmwsaApp.image.poster">Posted by</span> <span
                                  class="fa fa-sort"></span></th>
                              <th></th>-->
                        </tr>
                        </thead>
                        <tbody infinite-scroll (scrolled)="loadPage(page + 1)"
                               [infiniteScrollDisabled]="page >= links['last']"
                               [infiniteScrollDistance]="0">
                        <tr *ngFor="let image of images ;trackBy: trackId">
                            <!--<td><a [routerLink]="['../image', image.id ]">{{image.id}}</a></td>-->
                            <td><a [routerLink]="['../image', image.id ]">{{image.name}}</a></td>
                            <!--   <td>{{image.description}}</td>-->
                            <td>{{image.postedDate | date:'longDate'}}</td>
                            <td>
                                <a *ngIf="image.content" (click)="openFile(image.contentContentType, image.content)">
                                    <img [src]="'data:' + image.contentContentType + ';base64,' + image.content"
                                         style="max-height: 30px;" alt="image image"/>
                                </a>
                                <!--   <span
                                       *ngIf="image.content">{{image.contentContentType}}, {{byteSize(image.content)}}</span> -->
                            </td>
                            <!-- <td>{{image.views}}</td>-->
                            <td>
                                <div *ngFor="let tag of image.tags">
                                    <span class="badge badge-{{tag.color}}">{{ tag.name }}</span>
                                </div>
                            </td>
                            <!--
                            <td>
                                {{image.posterName}}
                            </td>
                            -->
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['../image', image.id ]"
                                            class="btn btn-primary btn-sm">
                                        <span class="fa fa-eye"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </button>
                                    <!--
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'image/'+ image.id + '/edit'} }]"
                                            replaceUrl="true"
                                            class="btn btn-primary btn-sm">
                                        <span class="fa fa-pencil"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    -->
                                    <!--
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'image/'+ image.id + '/delete'} }]"
                                            replaceUrl="true"
                                            class="btn btn-danger btn-sm">
                                        <span class="fa fa-remove"></span>
                                        <span class="d-none d-md-inline"
                                              jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                    -->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
